.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &:focus +label {
        text-decoration: underline;
    }
    & + label {
        display: block;
        max-width: 900px;
        margin-top: 20px;
        padding: 15px;
        @include border;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        &:hover {
            border-color: $color-purple;
        }
        &:active {
            background: $color-purple;
            color: #fff;
        }
        @media (min-width: $width-lg) {
            background: $color-pink;
            color: #fff;
            border-color: $color-pink;
            &:hover {
                border-color: $color-pink;
            }
            &:active {
                background: $color-purple;
                border-color: $color-purple;
            }
        }
    }
}
