.features {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  p {
    margin-bottom: 0;
  }
  &__title {
    font-size: 18px;
    margin-top: 0;
  }
  &__item {
    padding: 40px;
    padding-bottom: 0;
    &--triangle {
      position: relative;
      padding-top: 70px;
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        height: 57px;
        z-index: 1;
        background: url(../img/intro-triangle--blue.svg) no-repeat 50% 0;
        background-size: auto;
        z-index: 2;
      }
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        height: 57px;
        z-index: 1;
        background: #fff;
      }
    }
    &--line {
      position: relative;
      background: $color-wan;
      padding-bottom: 40px;
      &:after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        background: #d6d6d6;
        width: 280px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:last-child {
        padding-bottom: 40px;
        &:after {
          display: none;
        }
      }
    }
    &--blue {
      background-color: $color-blue;
      color: #fff;
      padding-bottom: 40px;
    }
    &--image {
      padding: 0;
    }
    &--reverse {
      margin-top: 40px;
    }
  }
  &__icon {
    width: 75px;
    height: 73px;
    fill: $color-blue;
  }
  @media(min-width:$width-md) {
    flex-direction: row;
    flex-wrap: wrap;
    &__title {
      font-size: 21px;
      width: 130px;
      margin: auto;
    }
    &__item {
      padding: 50px;
      width: 33.33%;
      &--triangle {

        &:before,
        &:after {
          display: none;
        }
      }
      &--image {
        width: 66.67%;
        padding: 0;
        &--reverse {
          order: 2;
        }
      }
      &--photo-city {
        background: url(../img/photo-city@1x.jpg) no-repeat;
      }
      &--photo-bridge {
        background: url(../img/photo-bridge@1x.jpg) no-repeat;
      }
      &--present {
        order: 1;
      }
      &--reverse {
        margin-top: 0;
        order: 3;
      }
      &--line {
        order: 4;
        &:last-child {
          padding-bottom: 50px;
        }
        &:after {
          display: none;
        }
      }
    }
  }
  @media (min-resolution: 1.5dppx) {
    &__item {
    &--photo-city {
      background: url(../img/photo-city@2x.jpg) no-repeat;
      background-size: cover;
    }
    &--photo-bridge {
      background: url(../img/photo-bridge@2x.jpg) no-repeat;
      background-size: cover;
    }
  }
}
}
