.form {
  overflow: hidden;
  margin-top: 30px;
  &__item {
    border: none;
    position: relative;
    padding-bottom: 20px;
    &:before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      background: #d6d6d6;
      width: 100%;
      height: 1px;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
    &__input{
      font-weight: 700;
      color:#000;
    }
  &__input,
  &__caption {
    text-align: left;
    width: 280px;
    display: block;
    margin: auto;
  }
  &__input,
  &__number {
    padding: 10px;
    background: $color-form;
    border: none;
    outline: none;
  }
  &__star {
    color: #f00;
  }
  &__counter {
    font-size: 0;
  }
  &__number,
  &__crumb,
  &__minus,
  &__plus {
    display: inline-block;
    vertical-align: top;
    width: 74.5px;
    height: 58px;
    line-height: 58px;
    font-size: 14px;
    background: $color-form;
  }
  &__number {
    border: none;
    outline: none;
    margin-left: 5px;
    line-height: normal;
  }
  &__crumb {
    width: 74.5px;
    margin-right: 5px;
  }
  &__minus,
  &__plus {
    width: 61px;
    font-size: 50px;
    color: rgba($color-gray,0.3);
    cursor: pointer;
  }
  @media(min-width:$width-md) {
    &__block{
      display: inline-block;
      vertical-align: top;
      width: 176px;
      margin-right: 60px;
      &:last-child{
        margin-right: 0;
      }
    }
    &__input{
width: 176px;
    }
    &__item {
      &:before {
        display: none;
      }
    }
      &__title {
        position: relative;
        display: block;
        width: 400px;
        margin: auto;
        background: #fff;
        z-index: 3;
        &:before,
        &:after {
          content: "";
          position: absolute;
          display: block;
          bottom: 0;
          background: #d6d6d6;
          width: 280px;
          height: 1px;
          top: 50%;
        }
        &:before {
          left: -70%;
        }
        &:after {
          right: -70%;
        }
      }
    }
    @media(min-width:$width-lg) {
      &__block{
width: 278px;
      }
      &__input{
  width: 278px;
      }
      &__number {
        margin-left: 0;
        padding-left: 28px;
        font-size: 18px;
        font-weight: 700;
      }
      &__crumb {
        display: none;
      }
    }
  }
  input::-webkit-input-placeholder {
    font-style: 18px;
    text-transform: none;
    font-weight: 700;
    color: #000;
  }
  input:-moz-placeholder {
    font-style: 18px;
    text-transform: none;
    font-weight: 700;
    color: #000;
  }
