.form {
  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  &__input,
  &__caption {
    text-align: left;
    width: 280px;
    display: block;
    margin: auto;
  }
  &__input,
  &__number {
    padding: 10px;
    background: $color-form;
    border: none;
    outline: none;
  }
  &__star {
    color: #f00;
  }
  &__counter {
    font-size: 0;
  }
  &__number,
  &__crumb,
  &__minus,
  &__plus {
    display: inline-block;
    vertical-align: top;
    width: 74.5px;
    height: 58px;
    line-height: 58px;
    font-size: 14px;
    background: $color-form;
  }
  &__number {
    border: none;
    outline: none;
    margin-left: 5px;
    line-height: normal;
  }
  &__crumb {
    width: 74.5px;
    margin-right: 5px;
  }
  &__minus,
  &__plus {
    width: 61px;
    font-size: 50px;
    color: rgba($color-gray,0.3);
    cursor: pointer;
  }
  @media(min-width:$width-lg) {
    &__item {
      border: none;
    }
    &__title {
      position: relative;
      display: block;
      width: 400px;
      margin: auto;
      background: #fff;
      z-index: 3;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 956px;
        background: #dbdbdb;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        z-index: 2;
      }
    }
    &__number {
      margin-left: 0;
      padding-left: 28px;
      font-size: 18px;
      font-weight: 700;
    }
    &__crumb {
      display: none;
    }
  }
}
input::-webkit-input-placeholder {
  font-style: 18px;
  text-transform: none;
  font-weight: 700;
  color: #000;
}
input:-moz-placeholder {
  font-style: 18px;
  text-transform: none;
  font-weight: 700;
  color: #000;
}
