.timer {
    display: none;
    &__column {
        min-width: 300px;
        min-height: 300px;
        position: relative;
        &:last-child {
            max-width: 600px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        span {
            display: block;
        }
    }
    a {
        color: $color-pink;
        &:hover {
            text-decoration: none;
        }
    }
    &__text-block {
        position: absolute;
        width: 194px;
        height: 194px;
        border-radius: 100%;
        background: #fff;
        text-align: center;
        top: 75px;
        left: 33px;
        font-size: 105px;
        line-height: 160px;
        color: $color-pink;
        font-weight: 700;
        border: 12px solid $color-pink;
    }
    &__svg-block {
        position: absolute;
        width: 262px;
        height: 302px;
        opacity: 0.1;
        @media (min-width: $width-lg) {
            width: 300px;
            height: 346px;
        }
    }
    @media (min-width: $width-md) {
        display: flex;
        min-height: 315px;
        margin-bottom: 40px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        position: relative;
        &__column {
            &:last-child {
                margin-left: 20px;
            }
        }
    }
    @media (min-width: $width-lg) {
        background: $color-wan;
        &__column {
            justify-content: center;
            &:first-child {
                height: 346px;
                width: 300px;
            }
            &:last-child {
                margin-left: 120px;
                margin-top: 40px;
            }
        }
        &__title {
            span {
                display: inline;
            }
        }
        &__text-block {
            width: 221px;
            height: 221px;
            top: 85px;
            left: 39px;
            font-size: 120px;
            line-height: 180px;
        }
        &__svg-block {
            width: 300px;
            height: 346px;
        }
    }
}
