html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body {
    position: relative;
    font-family: $font;
    color: $color-gray;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    min-height: 100%;
    min-width: 320px;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.inner-wrapper{
  @media(min-width:$width-lg){
    width:1200px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    margin: auto;
  }
}
